<% provide(:title, '') %>
<div class="center hero-unit">
     <h1> welcome to the Sample App</h1>
    <h2> this is home page for the
        <a href="http://railstutorials.org">ruby on rails </a> 
    </h2>
 <%= link_to "sign-up now", signup_path, class: "btn btn-large btn-primary" %>
</div> 
<%= link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org'%>